body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #c2ffdd; /* color de fondo */
}

.menu button {
  padding: 10px;
  margin: 5px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
}

.menu button:hover {
  background-color: #005fa3;
}

.pantalla {
  background: white;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.oculto {
  display: none;
}

#titulo {
  color: #172a42;
}

.contenedor {
  display: flex;
  align-items: center;
}

.lateral {
  width: 20%;
  display: flex;
}

.izquierda {
  justify-content: center;
  align-items: center;
}

.derecha {
  justify-content: center;
  align-items: flex-end; /* imagen abajo */
}

.lateral img {
  width: 100%;
  max-width: 250px;
}

.centro {
  width: 60%;
  text-align: center;
}

